<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta name="viewport" content="width=device-width">
    <title>Confirmação</title>
    <link rel="stylesheet" href="@{/css/confirmasenha.css}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
</head>
<body>

<form action="index.html" class="login-form">
    <h1>Enviamos um link para o e-mail cadastrado.</h1>
    <p>
    <center>Verifique sua caixa de entrada.</center>
    </p>
    <br> <br> <br> <br> <br>
    <input type="submit" class="logbtn" value="Login" href="Login/index.html">
</form>

<script type="text/javascript">
      $(".txtb input").on("focus",function(){
        $(this).addClass("focus");
      });

      $(".txtb input").on("blur",function(){
        if($(this).val() == "")
        $(this).removeClass("focus");
      });

</script>

</body>
</html>
