<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta name="viewport" content="width=device-width">
    <title>Esqueci Minha Senha</title>
    <link rel="stylesheet" href="senha.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
</head>
<body>

<form action="index.html" class="login-form">
    <h1>Esqueci minha senha</h1>
    <p>
    <center>Confirme seu e-mail para continuar</center>
    </p>

    <div class="txtb">
        <input type="text">
        <span data-placeholder="E-mail"></span>
    </div>

    <input type="submit" class="logbtn" value="Enviar">

</form>

<script type="text/javascript">
      $(".txtb input").on("focus",function(){
        $(this).addClass("focus");
      });

      $(".txtb input").on("blur",function(){
        if($(this).val() == "")
        $(this).removeClass("focus");
      });

</script>

</body>
</html>
